/************************************* Globais *************************************/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
	font-weight: 201;
}
h1 {
	color: #434343;
	font-size: 30px;
	font-weight: 400;
}
h2 {
	font-weight: 400;
	color: #888888;
}
hr {
	display:block;
	width: 100%;
    border: 0;
    height: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

select, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	resize: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a {
  color: #666;
  text-decoration: none;
}
a:visited, a:focus, a:hover {
  color: #999;
}
/************************************* Blocos *************************************/
.container {
    position: relative;
}
.section-container {
	max-width: 980px;
	margin: 0px auto;
	padding: 0px 10px;
}
/************************************* Header *************************************/
.hero {
	background-image: url("../img/bghero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 50em;
}

.conteudo-hero {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	height: 400px;
}

.conteudo-hero h1 {
	font-size: 50px;
	font-weight: 400;
	color: #D92B5B;
	flex-grow: 0.3;
}

.conteudo-hero p {
	line-height: 22px;
	flex-grow: 1.2;
}

.conteudo-hero span {
	border: 0px;
	border-radius: 0px;
	font-size: 23px;
	font-weight: 200;
	color: white;
	padding: 8px 30px;
	margin-top: 10px;
	background: #d62a5a; /* Old browsers */
	background: -moz-linear-gradient(top, #d62a5a 0%, #9c2241 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d62a5a 0%,#9c2241 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d62a5a 0%,#9c2241 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62a5a', endColorstr='#9c2241',GradientType=0 ); /* IE6-9 */
	text-align: center;
	cursor: pointer;
	transition: box-shadow 0.2s ease-in-out;
}
.conteudo-hero span:hover {
	box-shadow: 0px 1px 8px rgba(255, 255, 255,0.8);
}

.header {
	height: 100px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid white;
}

.header ul {
	width: 300px;
	list-style: none;
	align-self: center;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	padding: 0;
}
.header ul li {
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	font-weight: 400;
	transition: background 0.2s ease-in-out;
}
.header ul li:hover {
	background: rgba(255, 255, 255,0.4);
}
.header ul li a {
	text-decoration: none;
	color: white;
}
.logo-nav {
	flex-grow: 1;
	align-self: center;
}
.logo-nav img {
	height: 60px;
}
.menu-btn {
	display: none;
	color: white;
}
.toggle {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50px;
	width: 50px;
	cursor: pointer;
}
.toggle span, .toggle span:before, .toggle span:after {
	content: "";
	height: 2px;
	background: white;
	width: 100%;
	display: block;
	position: relative;
	transition: all 0.1s ease-in-out;
}
.toggle span:before {
	top: 15px;
}
.toggle span:after {
	top: -17px;
}
.toggle-open span {
	background: transparent;
}
.toggle-open span:before {
	transform-origin: center;
	transform: rotate(45deg);
	top: 0;
}
.toggle-open span:after {
	transform: rotate(-45deg);
	top: -3px;
}

.mobile-nav {
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	visibility: hidden;
	opacity: 0;
	min-height: 70vh;
	top: 70px;
	bottom: 0;
	width: 100%;
	position: fixed;
    background: rgba(0,0,0,0.8);
    transition: opacity 0.2s ease-in-out;
}
.mobile-nav a {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	text-decoration: none;
	color: white;
	width: 100%;
	border-bottom: 0.5px solid #A32044;
	transition: background 0.2s ease-in-out;
}
.mobile-nav a:first-child {
	border-top: 0.5px solid #A32044;
}
.mobile-nav a:hover {
	background: rgba(255, 255, 255, 0.2)
}
/************************************* search *************************************/

.search {
	background: #EDEDED;
	padding: 30px 0;
	height: auto;
	display: none;
}
.search-bar {
	padding-top: 10px;
}
.search-select {
	border: 1px solid #C4C4C4;
	border-radius: 0px;
	-webkit-appearance: none;
	font-size: 20px;
	font-weight: 200;
	width: 280px;
	height: 45px;
	display: inline-block;
	padding: 0px 20px;
	position: absolute;
	margin-right: -5px;
	background: #D3D3D3 url(../img/angle-arrow-down.svg) no-repeat;
	background-position: 95% 50%;
	background-size: 20px;
	color: #676767;
}
.search-input{
	border: 1px solid #C4C4C4;
	border-radius: 0px;
	font-size: 20px;
	font-weight: 200;
	width: 630px;
	height: 45px;
	display: inline-block;
	padding: 0px 45px;
	position: absolute;
	margin-left: 280px;
	box-sizing: border-box;
	transition: border 0.2s ease-in-out;
	background: url(../img/gps-arrow.svg) no-repeat scroll 10px;
	background-size: 20px;

}
.search-input:focus {
	border: 1px solid gray;
}
.search-submit {
	border: 0;
	border-radius: 0px;
	position: absolute;
	margin-left: 910px;
	width: 50px;
	height: 45px;
	display: inline-block;
	cursor: pointer;
	background: #d62a5a; /* Old browsers */
	background: url(../img/search-ico.svg) no-repeat scroll 10px, -moz-linear-gradient(top, #d62a5a 0%, #9c2241 100%); /* FF3.6-15 */
	background: url(../img/search-ico.svg) no-repeat scroll 10px, -webkit-linear-gradient(top, #d62a5a 0%,#9c2241 100%); /* Chrome10-25,Safari5.1-6 */
	background: url(../img/search-ico.svg) no-repeat scroll 10pxm linear-gradient(to bottom, #d62a5a 0%,#9c2241 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.search-results {
	padding-top: 60px;
}

/************************************* results *************************************/


.content{
	display: none;
}

.results {
	display: flex;
	flex-direction: column;
}

.result {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.result h2 {
	font-weight: 400;
	color: #3F3F3F;
}
.result p, .result span {
	color: #727272;
}
.result-img {
	margin-right: 20px;
    text-align: center;
    min-width: 200px;
}
.result-body {
}
.result .detalhes {
	margin-right: 30px;
}

.categorias {
	margin-bottom: 20px;
}
.categoria {
	background: #C1C7B9;
	color: #A2AA98;
	border: 1px solid #A2AA98;
	margin-right: 10px;
	padding: 2px;
	font-size: 13px;
}

.detalhes {
	padding: 10px 0px;
}

.btn-ver-mais {
	margin: 30px 0px auto;
	text-align: center;
	padding-bottom: 30px;
}
.btn-ver-mais span {
	border: 0px;
	border-radius: 0px;
	font-size: 23px;
	font-weight: 200;
	color: white;
	padding: 8px 30px;
	background: #d62a5a; /* Old browsers */
	background: -moz-linear-gradient(top, #d62a5a 0%, #9c2241 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d62a5a 0%,#9c2241 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d62a5a 0%,#9c2241 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62a5a', endColorstr='#9c2241',GradientType=0 ); /* IE6-9 */
	text-align: center;
	cursor: pointer;
	transition: box-shadow 0.2s ease-in-out;
}
.btn-ver-mais span:hover {
	box-shadow: 0px 1px 8px rgba(0,0,0,0.8);
}

/************************************* Modal *************************************/

.modal-container-home {
	background: rgba(0,0,0,0.5);
  display: none;
  flex-direction: row;
  justify-content: center;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 15;
}

.modal-content-home {
  width: 30%;
  height: 20%;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  background-color: rgba(0,0,0,0);
}
.modal-content-inner-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.modal-btn-cta-home {
  flex-grow: 1;
  margin: 1% 1%;
  background: #d62a5a; /* Old browsers */
  background: -moz-linear-gradient(top, #d62a5a 0%, #9c2241 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d62a5a 0%,#9c2241 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d62a5a 0%,#9c2241 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62a5a', endColorstr='#9c2241',GradientType=0 ); /* IE6-9 */
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
}
a .modal-btn-cta-home {
  height: 65px;
}
.modal-btn-cta-home h2 {
  margin-left: -7%;
  flex-grow: 2;
  color: white;
  font-weight: 200;
}
.modal-btn-cta-home img {
  flex-grow: 1;
  width: 40px;
  margin-left: 30%;
}
.modal-btn-cta-home:hover {
	box-shadow: 0px 1px 10px rgba(0,0,0,0.9);
}
.modal-close-btn-home {
	align-self: flex-end;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.modal-close-btn-home span:before, .modal-close-btn-home span:after {
	height: 2px;
	background: #b1b1b1;
	display: block;
	content:"";
	transform-origin: center;
}
.modal-close-btn-home span:before {
	transform: rotate(45deg);
}
.modal-close-btn-home span:after {
	margin-top: -2px;
	transform: rotate(-45deg);
}

.modal-buttons {
	border: solid;
}



/************************************* Footer *************************************/
.footer {
    background: #6D162E;
    padding: 10px 10px;
    height: auto;
}
.footer h2 {
    color: white;
    font-size: 20px;
}
.footer ul {
    list-style: none;
    line-height: 27px;
    color: white;
    padding: 0;
}
.footer .section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-container1 {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.footer-container2 {
	padding: 10px 0px;
    flex-grow: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
	text-align: center;
}
.footer-social-media span {
    padding: 0px 5px;
}
.footer .section-container hr {
	display: none;
}
/************************************* Responsivo *************************************/
@media (max-width: 960px) {
	.header { height: 70px; position: fixed; width: 100%; background: rgba(0,0,0,0.8); margin: 0px -10px; z-index: 10;}
	.header ul { display: none; }
	.logo-nav { margin: 0px 10px; }
	.mobile-nav { padding-left: -10px; }
	.menu-btn { display: initial; margin: auto 20px;}
  #menu:checked + .mobile-nav { visibility: visible; opacity: 1; }
  #menu:checked > span.btn-component { background: transparent; }
  .section-container { width: auto; margin: 0; }
  .container-conteudo-hero { padding-top: 70px; }
  .search { padding: 0px 10px; margin: 0; }
  .search-select { display: block; width: 100%; margin:0; position: relative; font-size:15px; }
	.search-input { display: block; width: 100%; margin:0; position: relative; padding-right: 0; font-size:15px; }
	.search-submit { display: block; width: 100%; margin:0; position: relative; }
  .result { margin: 0; display: block; padding: 10px 10px; justify-content: center; align-items: center; }
  .result p { text-align: justify; }
  .result-img { margin: 0; }
  .portifolio { padding: 10px 10px; }
  .servicos { padding: 10px 10px; }
  .portifolio-itens { justify-content: center; }
  .folio-2, .folio-3 { display: none; }
  .footer { height: auto; }
  .footer-logo img { width: 50%; }
  .footer .section-container { flex-direction: column; }
  .footer-container1 { text-align: center; }
  .footer .section-container hr { display: block; }
  .modal-btn-cta-home img { width: 40px;}
  .modal-content-home {
    width: 90%;
  }
  a .modal-btn-cta-home { height: 70px;}
}
@media (max-width: 320px) {
	.conteudo-hero h1 { font-size: 38px; }
	.conteudo-hero span { font-size: 17px; }
	.hero { height: 37em; }
}
