.navbar {
  background-color: #6D162E;
  height: 115px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-family: "Aleo", "Museo Slab", "Courier New", serif;
  font-weight: normal;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 0;
  padding: 10px 35px;
  background: linear-gradient(#D92B5B, #A32044);
  color: #fff;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
}

button:hover {
  background: linear-gradient(#F73B6F, #C82C57);
}