html, body {
	margin: 0;
	padding: 0;
}

#container {
	max-width: 1080px;
    height: 960px;
    margin: auto;
}

.hero {
	background-image: url("../img/bekah-1238571_editado.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}


.logo {
	height: 85px;
    align-self: center;
    flex-grow: 1;
}
.header {
    height: 86px;
    display: flex;
    flex-direction: row
}
.header ul {
	list-style: none;
	align-self: center;
	display: flex;
	margin-top: -10px
}
.header ul li {
	display: inline	;
	padding: 0px 10px;
	margin: 15px;
	color: white;
}

.container-conteudo-hero{
	height: 287px;
    margin-left: 12px;
    margin-top: -34px;
}

.conteudo-hero{
	width: 30%;
    margin-top: 66px;
}

.conteudo-hero h1{
	color: #d92b5b;
}

.conteudo-hero p{
	color: white;
}

.container-conteudo-hero button{
font-size: 15px;
    font-family: Arial;
    font-weight: normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 4px;
    border: 0px solid #ffffff;
    padding: 4px 17px;
    text-decoration: none;
    background:-moz-linear-gradient( center top, #d92b5d 26%, #a63154 79% );
	background:-ms-linear-gradient( top, #d92b5d 26%, #a63154 79% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d92b5d', endColorstr='#a63154');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(26%, #d92b5d), color-stop(79%, #a63154) );
	background-color:#d92b5d;
	color:#ededed;
	display:inline-block;
	text-shadow:0px 0px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #9e8d9e;
 	-moz-box-shadow:inset 1px 1px 0px 0px #9e8d9e;
 	box-shadow:inset 1px 1px 0px 0px #9e8d9e;
}.container-conteudo-hero button:hover {
	background:-moz-linear-gradient( center top, #a63154 26%, #d92b5d 79% );
	background:-ms-linear-gradient( top, #a63154 26%, #d92b5d 79% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a63154', endColorstr='#d92b5d');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(26%, #a63154), color-stop(79%, #d92b5d) );
	background-color:#a63154;
}.container-conteudo-hero button:active {
	position:relative;
	top:1px;
}

.search {
	background: green;
}

.search-bar{
	border: solid;
    text-align: left;
    height: 45px;
}

.search-bar select{
	height: 20px;
    width: 100px;
    margin-top: 13px;
}

.search-bar input{
	height: 20px;
    width: 100px;
}

.footer {
	background: orange;
}

.footer h2 {
	margin-top: 0;

}

