* {
	box-sizing: border-box;
}
.row > [class*=col-] {
	float: left;
}

.row::after {
	content: "";
	width: 100%;
	display: block;
	clear: both;
}

.col-half-lg, .col-half-md, .col-half-sm, .col-half-xs {
	width: 50%;
	padding: 15px;
}