html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
	font-weight: 200;
}

h2 {
	font-weight: 400;
}
hr {
    color: #d3d3d3;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
    position: relative;

}

.section-container {
	max-width: 980px;
	margin: 0px auto;
}
/************************************* Header *************************************/

.hero {
	color: white;
}

.header {
    height: 100px;
    background: #6d162e;
}
.nav-container {
	width: 960px;
	display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.header ul {
    width: 300px;
    list-style: none;
    align-self: center; 
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: -470px;
}
.header ul li {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    transition: background 0.2s ease-in-out;
}
.header ul li:hover {
    background: rgba(255, 255, 255,0.4);
}
.header ul li a {
    text-decoration: none;
    color: white;
}
.logo-nav {
    flex-grow: 1;
    align-self: center;
}
.logo-nav img {
    height: 60px;
    align-self: flex-end;
    float: left;
    padding-top: 30px;
    margin-left: 51px;
}

/************************************* results *************************************/

.results {
	display: flex;
	flex-direction: column;
}

.result {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 960px;	
}
.result h2 {
	font-weight: 500;
	color: #3F3F3F;
    margin-top: 45px;
}
.result p, .result span {
	color: #727272;	
}
.result-img {
	margin-right: 20px;
}
.result-body {
}
.result .detalhes {
	margin-right: 30px;
}

.categorias {
	margin-bottom: 20px;
}
.categoria {
	background: #c1c1c1;
	color: #b1b1b1;
	padding: 2px;
	font-size: 13px;
	border: 1px solid #b1b1b1;
}


/************************************* Protifolio *************************************/


.portifolio-itens{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.portifolio-item {
	display: inline-block;
}
.folio-1 {
	
}
.folio-2 {
	
}
.folio-3 {
	
}
/************************************* Serviços *************************************/
.servicos {
	height: auto;
}

/************************************* Footer *************************************/

.footer {
    background: #6D162E;
    padding: 10px 0px;
    height: 190px;
}
.footer h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.footer ul {
    list-style: none;
    line-height: 30px;
    color: white;
    padding: 0;
}
.footer .section-container {
    display: flex;
    flex-direction: row;

}

.footer-container1 {
    flex-grow: 1;
    align-self: flex-start;
}
.footer-container2 {
    flex-grow: 1;
    align-self: flex-start;
}
.footer-container3 {
    flex-grow: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}
.footer-logo {
    align-self: flex-end;
}
.footer-social-media {
    align-self: flex-end;

}
.footer-social-media span {
    padding: 0px 13px;
}
.footer h2 {
}
@media (max-width: 960px) {
    .header ul { }
    .search { padding: 0px 10px; margin: 0; }
    .search-select { display: block; width: 100%; margin:0; position: relative }
    .search-input { display: block; width: 100%; margin:0; position: relative; padding-right: 0 }
    .search-submit { display: block; width: 100%; margin:0; position: relative; background-position: center }
    .result { display: block; text-align: justify; padding: 0px 10px; }
    
}
