html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
	font-weight: 200;
}

h1 {
	color: #434343;
	font-size: 30px;
	font-weight: 400;
}

h2 {
	font-weight: 400;
	color: #888888;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
    position: relative;

}

.section-container {
	max-width: 980px;
	margin: 0px auto;
}
/************************************* Header *************************************/

.hero {
	color: white;
}

.header {
    height: 100px;
    background: #6d162e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.nav-container {
	width: 960px;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.logo-nav {
    flex-grow: 3;
    align-self: center;
    padding-top: 10px;
}
.logo-nav img {
    height: 60px;
    align-self: center;
}
.header ul {
    list-style: none;
    align-self: center; 
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
}
.header ul li {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    transition: background 0.2s ease-in-out;
}
.header ul li:hover {
    background: rgba(255, 255, 255,0.4);
}
.header ul li a {
    text-decoration: none;
    color: white;
}
/************************************* results *************************************/

.results {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}

.result {
	display: flex;
	flex-direction: row;
	align-items: center;	
}
.result h2 {
	font-weight: 500;
	color: #3F3F3F;
    margin-top: 45px;
}
.result p, .result span {
	color: #727272;	
}
.result-img {
	margin-right: 20px;
}
.result-body {
}
.result .detalhes {
	margin-right: 30px;
}

.categorias {
	margin-bottom: 20px;
}
.categoria {
	background: #c1c1c1;
	color: #b1b1b1;
	padding: 2px;
	font-size: 13px;
	border: 1px solid #b1b1b1;
}


/************************************* Protifolio *************************************/


.portifolio-itens{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.portifolio-item {
	height: 300px;
	width: 300px;
	max-width: 300px;
}
.folio-1 {
	background: url("img/ombre-hair-tumblr-brown-to-blonde-with-brown-to-blonde-ombre-hair-tumblr.jpg") no-repeat;
	background-size: cover;	
}
.folio-2 {
	background: url("img/avilrla.jpg") no-repeat;
	background-size: cover;	
}
.folio-3 {
	background: url("img/Relaxamento-capilar-para-cabelos-cacheados.jpg") no-repeat;
	background-size: cover;
	
}
/************************************* Serviços *************************************/
.servicos {
	height: auto;
}

/************************************* Footer *************************************/

.footer {
    background: #6D162E;
    padding: 10px 10px;
    height: 190px;
}
.footer h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.footer ul {
    list-style: none;
    line-height: 30px;
    color: white;
    padding: 0;
}
.footer .section-container {
    display: flex;
    flex-direction: row;

}

.footer-container1 {
    flex-grow: 1;
    align-self: flex-start;
}
.footer-container2 {
    flex-grow: 1;
    align-self: flex-start;
}
.footer-container3 {
    flex-grow: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}
.footer-logo {
    align-self: flex-end;
}
.footer-social-media {
    align-self: flex-end;

}
.footer-social-media span {
    padding: 0px 13px;
}
.footer h2 {
}
@media (max-width: 960px) {
    .header ul { }
    .section-container { width: auto; }
    .search { padding: 0px 10px; margin: 0; }
    .result { display: block; text-align: justify; padding: 10px 10px; justify-content: center; align-items: center; }
    .portifolio { padding: 10px 10px; }
    .servicos { padding: 10px 10px; }
    .portifolio-itens { justify-content: center; }
    .folio-2, .folio-3 { display: none; }
    
    
}
