html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
	font-weight: 500;
}
hr {
    color: #d3d3d3;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
    position: relative;

}

.section-container {
	max-width: 980px;
	margin: 0px auto;
}
/************************************* Header *************************************/

.hero {
	color: white;
}

.header {
    height: 100px;
    background: #6d162e;
}
.nav-container {
	width: 960px;
	display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.header ul {
    width: 300px;
    list-style: none;
    align-self: center; 
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.header ul li {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    transition: background 0.2s ease-in-out;
}
.header ul li:hover {
    background: rgba(255, 255, 255,0.4);
}
.header ul li a {
    text-decoration: none;
    color: white;
}
.logo-nav {
    flex-grow: 1;
    align-self: center;
}
.logo-nav img {
    height: 60px;
}

/************************************* results *************************************/

.results {
	display: flex;
	flex-direction: column;
}

.result {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 960px;	
}
.result h2 {
	font-weight: 500;
	color: #3F3F3F;
}
.result p, .result span {
	color: #727272;	
}
.result-img {
	margin-right: 20px;
}
.result-body {
}
.result .detalhes {
	margin-right: 30px;
}

.categorias {
	margin-bottom: 20px;
}
.categoria {
	background: #c1c1c1;
	color: #b1b1b1;
	padding: 2px;
	font-size: 13px;
	border: 1px solid #b1b1b1;
}


/************************************* Protifolio *************************************/



.servicos{
    height: 150px;
    width: 430px;
}

.servicos-categoria{
 
}

.servicos-icone{
    border-radius: 60px;
    width: 100px;
    border: solid 1px #72727a;
    background-color: #a32044;
    height: 100px;
    margin-top: 30px
}

.servicos-icone img {
    width: 70px;
    background: #a32044;
    margin-top: 15px;
    margin-left: 14px;
}

.servicos-categoria p{
    margin-left: 110px;
    margin-top: -5px;
} 

.servicos-categoria h2{
    margin-top: -102px;
    margin-left: 105px;
} 

.servicos-categoria h2{
    margin-top: -102px;
    margin-left: 105px;
} 


.servicos-icone-tempo{
    height: 0px;
    width: 26%;

}

.servicos-icone-tempo img{
    margin-left: 108px;
    width: 17px;
}

.servicos-icone-tempo p{
    margin-left: 130px;
    margin-top: -19px;
    width: 100%;
}


.servicos-icone-rating img{
    margin-left: 247px;
    width: 20px;
}

.servicos-icone-rating p{
    margin-left: 271px;
    margin-top: -19px;
    width: 18px;
}

.servicoes-icone-carrinho button{
    background-color: #a32044;
    cursor: pointer;
    float: left;
    margin-left: 334px;
    margin-top: -110px;
}

.servicoes-icone-carrinho img{
    margin-top: 6px;
}

.servicoes-icone-carrinho:hover{
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}



.servicoes-icone-visao button{
    float: left;
    margin-left: 333px;
    margin-top: -52px;
    background-color: #a32044;
    height: 37px;
    width: 45px;
    cursor: pointer;
}

.servicoes-icone-visao img{
    margin-top: 4px;
}

.servicoes-icone-visao:hover{
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}






/************************************* Footer *************************************/

.footer {
    background: #6D162E;
    padding: 10px 0px;
    height: 190px;
}
.footer h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.footer ul {
    list-style: none;
    line-height: 30px;
    color: white;
    padding: 0;
}
.footer .section-container {
    display: flex;
    flex-direction: row;
}

.footer-container1 {
    flex-grow: 1;
    align-self: flex-start;
}
.footer-container2 {
    flex-grow: 1;
    align-self: flex-start;
}
.footer-container3 {
    flex-grow: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}
.footer-logo {
    align-self: flex-end;
}
.footer-social-media {
    align-self: flex-end;

}
.footer-social-media span {
    padding: 0px 13px;
}

.footer h2 {
}
@media (max-width: 960px) {
    .header ul { }
    .search { padding: 0px 10px; margin: 0; }
    .search-select { display: block; width: 100%; margin:0; position: relative }
    .search-input { display: block; width: 100%; margin:0; position: relative; padding-right: 0 }
    .search-submit { display: block; width: 100%; margin:0; position: relative; background-position: center }
    .result { display: block; text-align: justify; padding: 0px 10px; }
    
}
